<section class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a class="navbar-brand"><span style="color: rgb(21, 149, 231);">P</span>HARMA</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="smoothScroll" routerLinkActive="active"><a routerLink="/home">Home</a></li>
                <li class="smoothScroll" routerLinkActive="active"><a routerLink="/products">Produkte</a></li>
                <li class="smoothScroll" routerLinkActive="active"><a routerLink="/cart">Shporta</a></li>
                <li class="smoothScroll" routerLinkActive="active" *ngIf="!getLogInState()"><a routerLink="/login">Log in<span class="glyphicon glyphicon-user"></span></a></li>
                <li *ngIf="getLogInState()"><a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;"><i class="glyphicon glyphicon-cog"></i></a>
                    <ul class="dropdown-menu">   
                            <li><a (click)="navLogOut()" routerLink="/home">LogOut <span class="glyphicon glyphicon-log-out"></span></a></li>
                            <li><a routerLink="/purchases">Blerjet</a></li>
                            <li><a routerLink="/usermanagment">Menaxho Perdoruesat</a></li>
                            <li><a routerLink="/productsUpdate">Update Products</a></li>
                    </ul></li>
            </ul>
        </div>
    </div>
</section>