<button class="btn btn-primary btn-sm pull-right" (click)="onClose()">X</button>
<h2 mat-dialog-title style="text-align: center;">Edit Product!</h2>
<mat-dialog-content class="create-form">
    <form [formGroup]="productEditForm">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Product Name" formControlName="emri">
            <span *ngIf="!productEditForm.get('emri').valid && productEditForm.get('emri').touched" class="help-block red"></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Price" formControlName="cmimi">
            <span *ngIf="!productEditForm.get('cmimi').valid && productEditForm.get('cmimi').touched" class="help-block red"></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Vendos Pershkrimin" formControlName="pershkrimi">
            <span *ngIf="!productEditForm.get('pershkrimi').valid && productEditForm.get('pershkrimi').touched" class="help-block red"></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter ImgPath" formControlName="imazhi"> 
            <span *ngIf="!productEditForm.get('imazhi').valid && productEditForm.get('imazhi').touched" class="help-block red"></span>
        </div>
    </form>
</mat-dialog-content>
<button mat-raised-button type="button" (click)="onSubmit()" class="btn btn-primary">Edit Product!</button>