
  th{
      text-align: center;
  }

  td {
      text-align: center;
  }

  body{
    background: url("/assets/photo-1584362917165-526a968579e8.jpeg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
  }