.centered {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    
    display: inline;
    font-family: "Lucida Console", "Courier New", monospace;
  }