<div class="homeImage">
  <div class="text-center">
    <div>
      <img
        class="body-image"
        src="/assets/photo-1584362917165-526a968579e8.jpeg"
        style="width: 100%;"
      />
    </div>
    <div class="centered"><h1 class="intro">Miresevini ne PHARMA</h1></div>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <h3><strong>Produktet Tona! </strong></h3>
  <br />
  <div class="services">
    <div class="col-md-4">
      <div>
        <img
          src="/assets/DERMOKOZMETIKA.jpg"
          class="img-responsive position-absolute top-50 start-50 translate-middle"
          style="width: 300px; height: 300px; "
          alt="Image"
        />
      </div>
      <div class="text font-weight-bold">
        <p>Dermokozmetika</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div>
        <img
          src="/assets/vitamina.jpg"
          class="img-responsive"
          style="width: 300px; height: 300px;"
          alt="Image"
        />
      </div>
      <div class="text font-weight-bold">
        <p>Vitamina</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div>
        <img
          src="/assets/nena-dhe-femija.jpg"
          class="img-responsive"
          style="width: 300px; height: 300px;"
          alt="Image"
        />
      </div>
      <div class="text font-weight-bold">
        <p>Produkte Per Femije</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div>
        <img
          src="/assets/farmaci (1).jpg"
          class="img-responsive"
          style="width: 300px; height: 300px;"
          alt="Image"
        />
      </div>
      <div class="text font-weight-bold">
        <p>Farmaci</p>
      </div>
    </div>
  </div>
</div>
<br />

<br /><br />

<footer class="container-fluid text-center">
  <div class="footer-container">
    <div class="footer-links">
      <div class="footer-link-wrapper">
        <div class="footer-link-items">
          <h2>Rreth nesh</h2>
          <a>Historiku</a>
          <a>Misioni</a>
          <a>Aktiviteti</a>
          <a></a>
        </div>
        <div class="footer-link-items">
          <h2>Kontaktet</h2>
          <a><i class="fa fa-phone" aria-hidden="true"></i> cel:+355656766</a>
          <a
            ><i class="fa fa-envelope-o" aria-hidden="true"></i>
            Email:pharma@gmail.com</a
          >
        </div>
        <div class="footer-link-items">
          <h2>Mediat sociale</h2>
          <a
            ><i class="fa fa-facebook-official" aria-hidden="true"></i>
            Facebook</a
          >
          <a><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
          <a><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a>
        </div>
      </div>
    </div>
  </div>
</footer>